.App {
  /* text-align: center; */
  max-width: 600px;
  margin: 0 auto;
  padding-top: 100px;
  color: #3f68f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  border: 1px solid lightgrey;
  padding: 30px;
  border-radius: 8px;
}

.instructions {
  width: 355px;
  text-align: left;
}

.start-over {
  margin-top: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 300px;
  margin-bottom: 20px;
  border-color: #3f68f1;
}

/* p {
  text-align: left;
} */

button {
  border-radius: 8px;
  border-color: #3f68f1;
  color: #3f68f1;
  height: 30px;
  cursor: pointer;
}
